@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --main-background: #F8F8F7;
    --main-color: black;
    --buttons-background: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-background: hsla(60, 0%, 20%, 1);
        --main-color: white;
        --secondary-color: hsla(0, 0%, 30%, 1);
    }
}

.wrapper {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-family: 'Open Sans';
}

.main {
    background-color: var(--main-background);
    color: var(--main-color);
    border-radius: 8px 8px 0 0;
    padding: 32px 50px 24px;
}

.header {
    font-size: 20px;
    margin-bottom: 24px;
}

.box-wrapper {
    background-color: var(--secondary-color);
    border: 1px solid #C3C2CF;
    border-radius: 4px;
    height: 96px;
    padding: 0 8px 8px 0;
    overflow-y: scroll;
}

.box {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.tag {
    position: relative;
    display: flex;
    align-items: stretch;
    flex-shrink: 0;
    margin-left: 8px;
    margin-top: 8px;
    height: 24px;
    background-color: rgba(102, 153, 255, 0.2);
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 24px;
}

.item {
    line-height: 24px;
    outline: 0;
}

.item_invalid {
    border-bottom: 1px dashed red;
}

.cross {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 8px;
    width: 8px;
    background-image: url('./cross.svg');
    cursor: pointer;
}

.input {
    flex-grow: 1;
    background: transparent;
    color: currentColor;
    border: 0;
    height: 24px;
    outline: 0;
    padding: 0;
    margin-left: 8px;
    margin-top: 8px;
    font-size: inherit;
}

.buttons {
    background-color: var(--secondary-color);
    border-radius: 0 0 8px 8px;
    padding: 32px 50px;
}

.button {
    padding: 8px 16px;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #4262FF;
    color: #FFFFFF;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    line-height: 24px;
}

.button + .button {
    margin-left: 16px;
}
